/* About & Vision */
.about-img,
.vision-img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  /* Blueish shadow with better visibility */
  box-shadow: 0 4px 12px rgba(0, 110, 255, 0.4) !important; /* Increased size and opacity */
}

/* Core Team */
.standout {
  margin-bottom: 3rem;
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  /* box-shadow: 0 4px 12px rgba(0, 110, 255, 0.4); */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.standout:hover {
  transform: translateY(-10px);
  /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15); */
  box-shadow: 0 4px 12px rgba(0, 110, 255, 0.4);
}

/* Middle card standout */
#chris {
  transform: translateY(12px) scale(1.03);
  z-index: 1;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  /* box-shadow: 0 6px 20px rgba(0, 110, 255, 0.4); */
}

#chris:hover {
  transform: translateY(2px) scale(1.03); /* hover offsets initial 12px down */
  box-shadow: 0 4px 12px rgba(0, 110, 255, 0.4);
}
