/*

#191919	Eerie Black -	Very dark gray
#024594	Dark Azure Blue	- Deep, rich blue with a slightly muted tone
#0071BB	Medium Azure / Cyan Blue	- Vivid medium blue with a cyan undertone
#FFB700 Gold.
*/

.navbar-logo img {
  width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-nav {
  font-size: 1.2rem;
  margin-right: 20px;
}
.navbar-nav .nav-link {
  font-family: "Exo 2", sans-serif;
  position: relative;
  /* font-weight: 500; */
  color: #024594;
  margin-left: 1.2rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #0071bb;
  transform: scale(1.1);
}

.navbar-togglerR {
  background-color: white;
  border: none;
}
.navbar-togglerR:active {
  border: none;
}
.navbar-togglerR-icon {
  font-size: 3rem;
  background-color: white;
  color: #024594;
}

#navIcon {
  transition: transform 0.3s ease;
  display: inline-block;
}

#navIcon.rotating {
  transform: rotate(90deg);
}
