/*

#191919	Eerie Black -	Very dark gray
#024594	Dark Azure Blue	- Deep, rich blue with a slightly muted tone
#0071BB	Medium Azure / Cyan Blue	- Vivid medium blue with a cyan undertone
*/

html,
body {
  overflow-x: hidden;
}
body {
  font-family: "Exo 2", sans-serif;
  padding-top: 70px;
}

/* Hero Section */
.hero_body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 70vh;
  text-align: center;
  padding: 0 1rem;
}
.hero_body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/hero-cubes.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  z-index: -1;
}
@media (max-width: 576px) {
  .hero_body {
    height: 90vh;
  }

  .hero-angle-divider {
    height: 80px;
  }

  .angle-svg {
    height: 80px;
  }
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
  padding-top: 1rem;
}
h3 {
  font-size: 2rem;
}
@media (max-width: 900px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
}
/*
TEST if it's working??
@media (max-width: 1200px) {
  .hero_body h1{
    padding: 0 50px !important;
  }
} */

.custom-btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: white;
  background-color: #0071bb;
  border: 1px solid #0071bb;
  border-radius: 0.375rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.custom-btn:hover {
  /* background-color: #024594;
  border-color: #024594; */
  color: white;
  box-shadow: 0 0.5rem 1rem rgba(2, 69, 148, 0.4);
  /* text-shadow: 0 1px 2px rgba(255, 183, 0, 0.6); */
  transition: all 0.2s ease-in-out;
}

.custom-btn.btn-2 {
  background-color: transparent;
  border: 1px solid #024594;
  color: #024594;
}
.custom-btn.btn-2:hover {
  background-color: transparent !important;
  border-color: #0071bb;
  color: #0071bb;
}
.custom-btn.btn-3 {
  background-color: #191919 !important;
  border: 1px solid #191919;
  color: white;
}
.custom-btn.btn-3:hover {
  background-color: #191919 !important;
  border-color: #191919;
  color: white;
}

.badge {
  background-color: #0071bb;
}

/* background-color: #0071BB;
    color: white;
  }
  #contact-us-form .btn:hover{
    background-color: #024594;
    color: #FFB700 */

/* Backgrounds and Smoke Effects */
/* #home-body {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 45%,
      rgba(255, 255, 255, 0) 55%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    url(../assets/images/HEROimg-1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */
.home_hero {
  background-color: whitesmoke;
}

/* Home page, H1 */
.custom-heading {
  max-width: 896px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-weight: 700;
  color: #191919;
}

.accelerate-container {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.accelerate-svg {
  position: absolute;
  top: 66%;
  left: 0;
  height: 0.58em;
  width: 100%;
  z-index: 0;
}

.accelerate-text {
  position: relative;
  z-index: 1;
}

.gradient-text {
  background: linear-gradient(to right, #1e293b, #3b82f6, #1e293b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.section-divider {
  width: 180px;
  height: 4px;
  background-color: #ffb700;
  /* border: none; */
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  /* background-color: red; */
  border: 0;
  opacity: 100%;
}

/* About Us */
.home_about_us {
  background-color: white;
}
#custom-img-container {
  width: 100%;
  max-width: 600px;
  position: relative;
}

/* Our Services Section */

.collapse-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.9s ease-out, opacity 0.4s ease-out;
}
.collapse-content.expanded {
  max-height: 500px;
  opacity: 1;
}
.read-more-toggle {
  border: none;
  color: #024594;
  background: none;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s ease, opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}
.read-more-toggle.expanded {
  opacity: 0;
  transform: translateX(-100%);
  /* transform: translateX(-10px); */
}
.read-more-toggle:hover {
  color: #005fa3;
}
.read-more-toggle:focus {
  outline: none;
}

#serviceCards .card {
  border-radius: 20px;
}
#serviceCards i {
  font-size: 2rem;
  font-style: normal;
  /* color: var(--bs-primary); */
  /* color: rgba(255, 183, 0, 0.5); */
  color: #024594;
  /* background: linear-gradient(to right, white,rgba(2, 69, 148, 0.6)); */
  background-color: rgba(2, 69, 148, 0.4);
  padding: 0.5rem 1rem;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

#serviceCards .card-title {
  font-weight: 900 !important;
  font-family: "Exo 2", sans-serif;
}
#serviceCards p {
  font-size: 1.1rem;
}
#serviceCards ul li::marker {
  padding: 0.5rem 1rem;
  color: #024594;
}

/* IP Solutions Section */
#solutions i {
  font-size: 2rem;
  color: #0071bb;
}
.card.ip-style {
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(2, 69, 148, 0.4) !important;
  transition: transform 0.3s ease;
}

.card.ip-style:hover {
  transform: translateY(-6px);
}
#solutions .card a {
  text-decoration: none;
  color: #024594 !important;
}
#solutions .card a:hover {
  color: #0071bb !important;
}
.read-more-text.expanded .dots {
  display: none;
}

/* Our Values Section */
/* Using the element (#gradient-black-blue-card) for colored card, see "Contact Us" Section below */
.values_card {
  border-radius: 20px;
}
.values_card i {
  /* color: #0071bb; */
  color: #ffb700;
}
.blockquote {
  font-size: 1.2rem;
  color: white !important;
}

/* Contact Us Section */
.list-group-item {
  border-radius: 20px !important;
}
#gradient-black-blue-card {
  background: linear-gradient(to bottom right, #191919, #024594);
  background: linear-gradient(to top left, #191919, #0071bb);
  padding: 2rem;
  color: white;
}
#gradient-black-blue-card .badge {
  background-color: #024594;
  background: linear-gradient(to top right, #024594, #397297);
  color: white;
}
#gradient-black-blue-card .btn {
  color: white;
}
#gradient-black-blue-card .btn:hover {
  color: #add8ff;
}
