/*

#191919	Eerie Black -	Very dark gray
#024594	Dark Azure Blue	- Deep, rich blue with a slightly muted tone
#0071BB	Medium Azure / Cyan Blue	- Vivid medium blue with a cyan undertone
background: linear-gradient(to right, #024594, #0071BB);
*/

body {
  font-family: "Exo 2", sans-serif;
}

.hero_body {
  position: relative;
  background: linear-gradient(to right, #191919, #024594);
  z-index: 1;
}
.hero_body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/hero-cubes.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  z-index: -1;
}

#hero_hr {
  border: none;
  border: 1px solid #ffb700 !important;
  width: 20%;
  opacity: 0.5;
  margin: 0 auto;
}
@media (max-width: 576px) {
  #hero_hr {
    width: 40%;
  }
}

.hero-angle-divider {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  overflow: visible;
  line-height: 0;
}

.angle-svg {
  display: block;
  width: 100%;
  height: 100px;
}

.section-values {
  background-color: #f8f9fa;
  width: 100%;
  margin-top: -60px;
}
