<link
  href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="./css/image.css" />

<div class="row stack-wrapper">
  <div class="stack-container">
    <div class="black-layer"></div>
    <div class="blue-layer">
      <div class="title">2023</div>
      <div class="subtitle">
        Founded to bridge innovation gaps in hardware design
      </div>
    </div>
    <div class="white-layer">
      <div class="title">NaN</div>
      <div class="subtitle">Tech Solutions</div>
    </div>
  </div>
</div>
